button {
  width: 15%;
}

.todo-list {
  padding: 20px;
  margin: 20px auto;
  width: 30%;
  border: 1px solid black;
}

.todo > * {
  display: inline-block;
}

.task {
  width: 50%;
  text-align: left;
}

.done {
  text-decoration: line-through;
}

